<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div>
                <h1>INDEX</h1>
                <h5 style="float: right;" role="button" class="btn btn-primary" id="logout">logout</h5>
            </div>
            <div>
                <button type="button" class="btn btn-primary" onclick="location.href='main/user'">users</button>
                <button type="button" class="btn btn-primary">devices</button>
                <button type="button" class="btn btn-primary">setting</button>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    if (!document.cookie.includes('user')) {
        window.location.href="/";
    }
    
    setInterval(function () {
        if (!document.cookie.includes('uuid')) {
            
            window.location.href="/";
        }
    }, 60 * 10000);
});
    
$('#logout').click(function () {
    window.location.href='/logout';
})
</script>